{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h1>Nuevo Favorito</h1>
    <form method="POST">
        {% csrf_token %}
        {% comment %} <label>Nombre</label>
        <input type="text" name="nombre" placeholder="Nombre">
        <label>Url</label>
        <input type="text" name="url" placeholder="Nombre">{% endcomment %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success"> 
        <a href="/lista">Lista</a>
    </form>
{% endblock %}